html, body {
	margin: 0;
	padding: 0;
}

body * {
	color: #666;
	font-family: "Helvetica Neue", "American Typewriter", Arial;
	margin: 10px ;
}

h1 {
	color:#333;
	font-weight:bold;
	letter-spacing:-1px;
}

h1 em {
	color:#CCC;
	font-style: normal;
}


div {
	margin: 0;
	padding: 0;
}

div.entry {
	clear:  both;
	float: none;
	width: 960px;
	padding-top: 40px;
}

div.entry div.title {
	width: 300px;
	margin: 0;
	/*border:  1px solid yellow;*/
	float: right;
}

div.entry div.art {
	width: 650px;
	float: right;
	/*border:  1px solid green;*/
}

div.entry h2 {
	color: #999;
	padding: 20px 0 0 10px;
}

div.entry p {
	margin: 0 10px 25px 10px;
	font-size: 12px;
}



